# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS and editor files
.DS_Store
Thumbs.db
.vscode/

# Build outputs (optional)
dist/
build/
